kube-prometheus-stack:
  enabled: true
  grafana:
    enabled: true
    ingress:
      enabled: true
      hosts: 
        - grafana.172.18.0.2.nip.io
    sidecar:
      datasources:
        enabled: true
        defaultDatasourceEnabled: true
        isDefaultDatasource: true 
        name: Thanos
        url: "http://uos-thanos-query:10902"
  prometheus:
    thanosService:
      enabled: true
    prometheusSpec:
      retention: 1d
      shards: 1
      externalLabels:
        prometheus: thanos
        prometheus-shard: prometheus-00
      thanos:
        baseImage: quay.io/thanos/thanos:v0.38.0
        objectStorageConfig:
          secret:
            type: s3
            config:
              bucket: thanos
              endpoint: uos-rustfs-svc:9000
              access_key: uVa1fxoZBXGKNdPckeCy
              secret_key: 3fFYiQBgrRjzo2JuNAp48K0v9Ga7PXnhIEZTwqbC
              insecure: true
      securityContext:
        runAsGroup: 2000
        runAsNonRoot: true
        runAsUser: 1000
        fsGroup: 2000


# =====================
# Loki
# =====================
loki:
  enabled: false

# =====================
# Tempo
# =====================
tempo:
  enabled: false

# =====================
# RustFS (Object Storage)
# =====================
rustfs:
  enabled: true
  replicaCount: 4
  mode:
    standalone:
      enabled: false
    distributed:
      enabled: true

  secret:
    existingSecret: ""
    rustfs:
      access_key: rustfsadmin
      secret_key: rustfsadmin

  config:
    rustfs:
      volume: "/data/rustfs0,/data/rustfs1,/data/rustfs2,/data/rustfs3"
      address: "0.0.0.0:9000"
      console_address: "0.0.0.0:9001"
      log_level: "debug"
      rust_log: "debug"
      console_enable: "true"
      obs_log_directory: "/logs"

  ingress:
    enabled: true
    className: "traefik" # Specify the classname, traefik or nginx. Different classname has different annotations for session sticky.
    traefikAnnotations:
      traefik.ingress.kubernetes.io/service.sticky.cookie: "true"
      traefik.ingress.kubernetes.io/service.sticky.cookie.httponly: "true"
      traefik.ingress.kubernetes.io/service.sticky.cookie.name: rustfs
      traefik.ingress.kubernetes.io/service.sticky.cookie.samesite: none
      traefik.ingress.kubernetes.io/service.sticky.cookie.secure: "true"
    nginxAnnotations:
      nginx.ingress.kubernetes.io/affinity: cookie
      nginx.ingress.kubernetes.io/session-cookie-expires: "3600"
      nginx.ingress.kubernetes.io/session-cookie-hash: sha1
      nginx.ingress.kubernetes.io/session-cookie-max-age: "3600"
      nginx.ingress.kubernetes.io/session-cookie-name: rustfs
    hosts:
      - host: rustfs.172.18.0.2.nip.io
        paths:
          - path: /
            pathType: ImplementationSpecific
    # tls:
    #   - secretName: rustfs-tls
    #     hosts:
    #       - your.rustfs.com

  tls:
    enabled: false
    crt: tls.crt
    key: tls.key

  resources:
    limits:
      cpu: 200m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 128Mi


  nodeSelector: {}

  tolerations: []

  affinity: {}

  storageclass:
    name: local-path
    dataStorageSize: 256Mi
    logStorageSize: 256Mi

  extraManifests: []

# Thanos Query

thanos:
  enabled: true
  additionalEndpoints: 
    - "dns+uos-kube-prometheus-stack-thanos-discovery.default.svc.cluster.local:10901"
  objstoreConfig:
    value: |-
      type: s3
      config:
        bucket: thanos
        endpoint: uos-rustfs-svc:9000
        access_key: rustfsadmin
        secret_key: rustfsadmin
        insecure: true